<ion-header>
  <ion-toolbar>
    <ion-title>Detail Image</ion-title>
    <ion-buttons>
      <ion-button routerLink="/images">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <div class="loader" *ngIf="isCargando">
    <div class="d1"></div>
    <div class="d2"></div>
  </div>

  <ion-card *ngIf="!isCargando">
    <ion-card-header>
      <ion-card-title>{{images.title}}</ion-card-title>
      <img src="{{images.thumbnailUrl}}">
    </ion-card-header>
    <div style="text-align: center;">
      <ion-button (click)="addImage(images)" title="Add Image">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-card>
</ion-content>
