<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="margin-left: 80px;">
      Songs
    </ion-title>
    <ion-buttons>
      <ion-button routerLink="/create" title="Add Song">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button routerLink="/singers" title="Singers">
        <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/recording-studios" title="Recording Studios">
        <ion-icon slot="start" name="mic-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/images" title="Images">
        <ion-icon name="images-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="spinner" *ngIf="isCargando">
    <div class="dot1"></div>
    <div class="dot2"></div>
    <div class="dot3"></div>
  </div>
  <div *ngIf="!isCargando">
    <ion-card *ngFor="let song of songList" routerLink="/detalle/{{song.id}}" >
      <ion-card-header>
        {{song.songName}}
      </ion-card-header>
      <ion-card-content>
        Artist Name: {{ song.artistName }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
